{% extends 'layoutEmail.html.twig' %}

  {% block body %}
      <body>
      <h1>New episode {{ program.title }} created</h1>
      <p>Hello, the new episode {{ program.number}} has been created on Wild Series</p>
      <p>Summary : {{program.synopsis }} </p>
      <a href="http://127.0.0.1:8000/episode/3907">Voir l'episode</a>
      </body>
  {% endblock %}