{% extends 'base.html.twig' %}

{% block title %}All category{% endblock %}

{% block body %}
    <h1>Toutes les catégories de la table categories : </h1>
    {% for categorie in categories %}
        <div>
            <h2>
                <a href="{{ path("category_show", { categoryName: categorie.name }) }}">{{ categorie.name }}</a>
            </h2>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}
    <div>
        <a href="{{ path('category_new') }}">
            Ajouter une catégorie
        </a>
    </div>
    <div>
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}